* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: black;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}
header .logo img
{
    max-width: 150px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 0 10px;
}
.navigation li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.navigation li:hover a{
    color: yellow;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232323;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}
.container{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9px);
}
.container .card .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx{
    transform: translateY(-100px);
}
.container .card .imgBx img{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx img{
    transform: translate(-20px, -40px)rotate(-25deg)scale(1.4);
}
.container .card .imgBx h2{
    color: #ffff;
    font-weight: 600;    
}

.container .card .content .size h3{
    color: #ffff;
    font-weight: 300;
}
.container .card .content{
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}